{% load i18n avatar_tags pagination_tags truncchar_tag %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}

    <form action="{% url 'tm:messages_batch_update' %}" method="post">
        {% csrf_token %}

        {% if header == "Sender" %}
        <div class="inbox-action-box">
              <div style="float: left; margin-top: 7px;">
                  {% trans "show" %}:
                  {% if only_unread or only_read %}<a href="{% url 'tm:messages_inbox' %}">{% trans "all" %}</a>{% else %}{% trans "all" %}{% endif %} ·
                  {% if not only_read %}<a href="{% url 'tm:messages_inbox' %}?only_read=1">{% trans "read" %}</a>{% else %}{% trans "read" %}{% endif %} ·
                  {% if not only_unread %}<a href="{% url 'tm:messages_inbox' %}?only_unread=1">{% trans "unread" %}</a>{% else %}{% trans "unread" %}{% endif %}
              </div>
              <div style="float: right">
                  <button type="submit" disabled=true name="action" value="read" class="bulkaction btn btn-small btn-success"><i class="icon-envelope icon-white"></i>&nbsp;{% trans "mark as read" %}</button>
                  <button type="submit" disabled=true name="action" value="delete" class="bulkaction btn btn-small btn-warning"><i class="icon-folder-close icon-white"></i>&nbsp;{% trans "archive messages" %}</button>
              </div>
        </div>
        {% endif %}

        <div style="clear: both;"></div>
        <table class="inbox table table-striped table-hover">
            <thead>
                <tr class="message message-header">
                    <th class="sender span5">{{header}}</th>
                    <th class="subject span6">{% trans "Subject" %}</th>
                    {% ifequal header "Sender" %}<th class="subject span1"></th>{% endifequal %}
                </tr>
            </thead>
            <tbody>
            {% for message in thread_list %}
              <tr class="{% if message.new %}success{% endif %}" data-url="{{ message.thread.get_absolute_url }}">
                  <td class="clickablerow sender span5">
                      {% if header == "Sender" %}
                        <span class="participant"><a href="{{ message.thread.latest_msg.sender.get_absolute_url }}">{{ message.thread.latest_msg.sender }}</a></span>&nbsp; &nbsp;
                      {% else %}
                          {% if message.others|length < 1 %}
                          <span class="participant" title="{{ message.thread.creator.full_name }}">{{ message.thread.creator.first_name }}</span>
                          {% endif %}
                          {% for p in message.others %}
                              {% if forloop.counter < 3 %}
                              <span class="participant" title="{{ p.user.full_name }}">{{ p.user.first_name }}</span>{% if forloop.last %}&nbsp;{% else %}, {% endif %}
                              {% elif forloop.last %}
                              <span class="participant" title="{{ p.user.full_name }}">{{ p.user.first_name }}</span>
                                  {% if forloop.counter != 3 %}
                                  <span class="participant others">+ {{ forloop.counter|add:"-3" }} others</span>
                                  {% endif %}
                              {% endif %}
                          {% endfor %}
                      {% endif %}
                    <span class="date"><em>{{ message.thread.latest_msg.sent_at|date:_("DATETIME_FORMAT") }}</em></span>
                  </td>
                  <td class="clickablerow subject span6">
                    <a href="{{ message.thread.get_absolute_url }}">{% if message.new %}
                        <strong>{% endif %}{{ message.thread.subject|truncchar:30|safe }}{% if message.new %}</strong>{% endif %}</a>
                    <span class="message-tease">{{ message.thread.latest_msg.body|truncatewords:8|clean_with_bleach|safe }}</span>
                    <span class="pull-right label">{{ message.thread.all_msgs.count }}</span>
                  </td>
                   {% ifequal header "Sender" %}<td class="clickablerow checkbox span1">
                    <input name="batchupdateids" type="checkbox" value="{{message.thread.pk}}" />
                  </td>{% endifequal %}
                  {% if message.replied %}{% endif %}
                  {% if message.new %}{% endif %}
              </tr>
            {% empty %}
                  <tr class="message unread">
                    <td class="no-message"><em>{% trans "No messages found" %}</em></td><td></td><td></td>
                </tr>
            {% endfor %}
            </tbody>
</table>
    </form>
    <div class="messages-footer">
        <div class="pagination">
            <ul>
                {% if thread_list.has_previous %}
                <li><a href="?page={{ thread_list.previous_page_number }}"><i class="icon-chevron-left"></i></a>
                </li>
                {% else %}
                <li class="disabled"><a href="#"><i class="icon-chevron-left"></i></a></li>
                {% endif %}
                {% for p in thread_list.paginator.num_pages|get_range_plus_one %}
                <li class="{% if p == thread_list.number %}active{% endif %}"><a href="?page={{ p }}">{{ p }}</a>
                </li>
                {% endfor %}
                {% if thread_list.has_next %}
                <li><a href="?page={{ thread_list.next_page_number }}"><i class="icon-chevron-right"></i></a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="icon-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>