{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}
<!-- This template has an read/unread/all filter and is used in the Inbox, Sent, and Archive pages.-->

<ul class="nav nav-pills" style="width: 100%; margin-bottom: 0;">
    <li id="inbox-tab"><a href="{% url 'tm:messages_inbox' %}"><h4 style="display: inline;">INBOX</h4></a></li>
    <li id="sent-tab"><a href="{% url 'tm:messages_outbox' %}"><h4 style="display: inline;">SENT</h4></a></li>
    <li id="archive-tab"><a href="{% url 'tm:messages_trash' %}"><h4 style="display: inline;">ARCHIVE</h4></a></li>
</ul>
<div class="nav-buttons" style="margin-top: 10px; width: 100%;">
        <span class="btn-group dropdown pull-left">
            <button class="btn btn-small btn-default dropdown-toggle" data-toggle="dropdown">Show<strong>
                {% if only_unread %} unread {% elif only_read %} read {% else %} all {% endif %}
                <span class="caret"></span></strong></button>
            <ul class="dropdown-menu">
                <li>{% if only_unread or only_read %}<a href="{% url 'tm:messages_inbox' %}">all</a>
                    {% else %}<a href="#"><strong>all</strong></a>{% endif %}</li>
                <li>{% if not only_read %}<a href="{% url 'tm:messages_inbox' %}?only_read=1">read</a>
                    {% else %}<a href="#"><strong>read</strong></a>{% endif %}</li>
                <li>{% if not only_unread %}<a href="{% url 'tm:messages_inbox' %}?only_unread=1">unread</a>
                    {% else %}<a href="#"><strong>unread</strong></a>{% endif %}</li>
            </ul>
        </span>&nbsp;
        <span class="pull-right">
            <span class="input-append input-prepend" style="margin: 0;">
                <form class="msg-nav-search" action="{% url 'tm:messages_search' %}" method="GET">
                     <label class="hidden" for="filter"></label><input type="text" class="hidden" id="filter" name="search" value="all" />
                    <span class="btn-group">
                        <input type="text" style="width: 60%;" title="Search Messages" id="qs" name="qs" class="message-search forum-search" />
                        <button type="submit" value="Go" title="Search Messages" id="go" class="btn btn-success"><i class="icon-search icon-white"></i></button>
                        <span class="dropdown btn-group">
                            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                <span class="caret" style="border-top-color: #ffffff; border-bottom-color: #ffffff;"></span>
                            </button>
                                <ul class="dropdown-menu">
                                    <li><a class="search-filter" name="search" id="all">all</a></li>
                                    <li><a class="search-filter" name="search" id="inbox">inbox</a></li>
                                    <li><a class="search-filter" name="search" id="sent">sent</a></li>
                                    <li><a class="search-filter" name="search" id="archives">archive</a></li>
                                </ul>
                        </span>
                    </span>
                </form>
            </span>
                   <a href="{% url 'tm:messages_compose' %}" class="btn btn-success pull-right">
            <i class="icon-plus-sign icon-white"></i>&nbsp;New message</a>
        </span>&nbsp;
    </div>


