{% load i18n avatar_tags pagination_tags truncchar_tag %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}
    <form id="batch-update" action="{% url 'tm:messages_batch_update' %}" method="post">
        {% csrf_token %}
        <table id="message_table-table" class="inbox table table-striped table-hover" data-read="{{ only_read }}" data-unread="{{ only_unread }}">
            <thead>

                <tr class="message message-header">
                    <!--Row table headers: (1)Bulk action dropdown, (2)Participants/Sender, (3)Date/Time, (4)Subject -->
                    <th class="span1" style="padding-left: 0;">
                        <div class="btn-group dropdown">
                            <button class="btn btn-small btn-default dropdown-toggle bulkaction" style="padding: 2px 7px;"
                                    data-toggle="dropdown" disabled=true>
                                <i class="icon-cog"></i><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li id="read-li" class="batch-action"><a href="#">{% trans "Mark as read" %}</a></li>
                                <li id="unread-li" class="batch-action"><a href="#">{% trans "Mark as unread" %}</a></li>
                                {% if page_type == "archive" %}
                                <li id="undelete-li" class="batch-action"><a href="#">{% trans "Unarchive" %}</a></li>
                                {% else %}
                                <li id="delete-li" class="batch-action"><a href="#">{% trans "Archive" %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <button id="unread-btn" type="submit" name="action" value="unread" class="hidden"></button>
                        <button id="read-btn" type="submit" name="action" value="read" class="hidden"></button>
                        <button id="delete-btn" type="submit" name="action" value="delete" class="hidden"></button>
                        <button id="undelete-btn" type="submit" name="action" value="undelete" class="hidden"></button>
                    </th>
                    <th class="sender span2"><h5>{{header}}</h5></th>
                    <th class="span3">
                        <h5><a href="#" id="sort-sent" data-sort="{{ active_sort }}">Date</a>
                        {% if active_sort == 'sent_ascending' %}
                        <i class="icon-arrow-up"></i>
                        {% elif active_sort == 'sent_descending' %}
                        <i class="icon-arrow-down"></i>
                        {% endif %}</h5></th>

                    <th class="subject span6">
                        <h5><a href="#"  id="sort-subject" data-sort="{{ active_sort }}">Subject</a>
                        {% if active_sort == 'subject_ascending' %}
                        <i class="icon-arrow-up"></i>
                        {% elif active_sort == 'subject_descending' %}
                        <i class="icon-arrow-down"></i>
                        {% endif %}</h5></th>
                </tr>
            </thead>
            <tbody>
            {% for message in thread_list %}
              <tr class="{% if message.new %}success{% endif %}" data-url="{{ message.thread.get_absolute_url }}">
                  <td class="checkbox">
                    <input name="batchupdateids" type="checkbox" value="{{message.thread.pk}}" />
                  </td>
                  <td class="clickablerow sender">
                      {% if header == "Sender" %}
                        {% with message.thread.latest_msg.sender as sender %}
                            <span class="participant" title="{{ message.thread.latest_msg.sender }}">{{ sender.first_name }} {{ sender.last_name }}</span>&nbsp; &nbsp;
                        {% endwith %}

                      {% else %}
                        {% if message.others|length < 1 %}
                          <span class="participant" title="{{ message.thread.creator.full_name }}">{{ message.thread.creator.first_name }}</span>
                        {% endif %}

                        {% for p in message.others %}
                            {% if forloop.counter < 3 %}
                              <span class="participant" title="{{ p.user.full_name }}">{{ p.user.first_name }}</span>{% if forloop.last or forloop.counter == 2 %} {% else %}, {% endif %}
                            {% elif forloop.counter == 3 %}
                                  <span class="participant others">+ {{ forloop.counter|add:"-2" }} others</span>
                            {% endif %}
                        {% endfor %}
                      {% endif %}
                  </td>
                    <td><span class="date"><em>{{ message.thread.latest_msg.sent_at|pretty_date }}</em></span></td>
                  <td class="clickablerow subject">
                    <a href="{{ message.thread.get_absolute_url }}">{% if message.new %}
                        <strong>{% endif %}{{ message.thread.subject|truncchar:30|safe }}{% if message.new %}</strong>{% endif %}</a>
                    <span class="message-tease muted hidden-phone hidden-tablet">{{ message.thread.latest_msg.body|truncatewords:6|clean_with_bleach }}</span>
                    <span class="pull-right label">{{ message.thread.all_msgs.count }}</span>
                  </td>
                  {% if message.replied %}{% endif %}
                  {% if message.new %}{% endif %}
              </tr>
            {% empty %}
                <tr class="message unread">
                    <td></td><td></td><td></td><td class="no-message"><em>{% trans "No messages found." %}</em></td>
                </tr>
            {% endfor %}
            </tbody>
</table>
    </form>
    <div class="messages-footer">
        <div class="pagination">
            <ul>
                {% if thread_list.has_previous %}
                <li><a href="?page={{ thread_list.previous_page_number }}{% determine_sort_filter %}"><i class="icon-chevron-left"></i></a>
                </li>
                {% else %}
                <li class="disabled"><a href="#"><i class="icon-chevron-left"></i></a></li>
                {% endif %}
                {% for p in thread_list.paginator.num_pages|get_range_plus_one %}
                <li class="{% if p == thread_list.number %}active{% endif %}"><a href="?page={{ p }}{% determine_sort_filter %}">{{ p }}</a>
                </li>
                {% endfor %}
                {% if thread_list.has_next %}
                <li><a href="?page={{ thread_list.next_page_number }}{% determine_sort_filter %}"><i class="icon-chevron-right"></i></a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="icon-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>