{% extends 'azul_cms_custom/cms_basic.html' %}
{% load i18n avatar_tags pagination_tags truncchar_tag uni_form_tags %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}

{%block title %}{{ thread.subject }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/token-input.css" type="text/css" />
<ul class="breadcrumb">
    <li><i class="icon-chevron-right" style="margin-top: 0;"></i>
    <li>
        <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'portal:dashboard_trainee' %}">Dashboard</a><span class="divider">/</span>
    </li>
    <li class="active"><a href="{% url 'tm:messages_inbox' %}">Inbox</a><span class="divider">/</span></li>
    <li class="active"><a href="{% url 'tm:messages_compose' %}">Compose</a></li>
</ul>
{% messages %}
<div class="page-header">

    <div class="pull-right">
        <a href="{% url 'tm:messages_compose' %}" class="btn btn-success">
            <i class="icon-plus-sign icon-white"></i> Send new message
        </a>
    </div>

    <div class="row">
        <div class="span3">
            <h3>{% trans "Write Message"|upper %}</h3>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
               {% messaging_well_search %}
    </div>

    <div class="span9">
<form class="form-horizontal" id="compose" method="post" action="{% url 'tm:messages_compose' %}">
                <fieldset>
                    {% csrf_token %}

                    <div class="control-group span12">
                        <h4>Recipient(s)</h4>

                        <div class="controls searchbar span12">
                            <span class="control-label"><i class="icon-search"></i></span>
                            {{ form.recipient }}

                            {% if form.recipient.errors %}
                            {% for error in form.recipient.errors %}
                            <div class="alert alert-error">
                                {{ error | escape }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                <div class="control-group span12">
                    <h4>Subject</h4>

                    <p>{{ form.subject }}</p>
                    {% if form.subject.errors %}
                        {% for error in form.subject.errors %}
                            <div class="alert alert-error">
                                {{ error | escape }}
                            </div>
                        {% endfor %}
                    {% endif %}
</div>
                    <div class="control-group span12">
                    <h4>Message</h4>

                    <p>{{ form.body }}</p>
                    {% if form.body.errors %}
                        {% for error in form.body.errors %}
                            <div class="alert alert-error">
                                {{ error | escape }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
               </fieldset>
                <div class="button-bar pull-right">
                    <a class="btn btn-danger" href="{% url 'tm:messages_inbox' %}">{% trans "Cancel" %}</a>
                    <button id="modal-send-button" class="btn btn-success" type="submit" onclick="$('#message-modal-form').submit()">
                        {% trans "Send" %}
                    </button>
                </form>
    </div>

      <!--  <form id="message-modal-form"
              action="{% url 'tm:messages_compose' %}" method="post"
              class="modal-message-form grey-form">
            {% csrf_token %}
            <fieldset class="inlineLabels">
                <input type="hidden" name="attachment_id" id="attachment_id" />
                {{ form|as_uni_form }}
            </fieldset>
            <div class="button-bar">
                <a class="btn btn-danger" href="{% url 'tm:messages_inbox' %}">{% trans "Cancel" %}</a>
                <button id="modal-send-button" class="btn btn-success" type="submit" onclick="$('#message-modal-form').submit()">
                    {% trans "Send" %}
                </button>
            </div>
        </form>-->
{% endblock %}

    {% block css %}
    {% addtoblock 'css' %}
    <style>
        .searchbar {
            white-space: nowrap;
        }
        .results_on_deck div {
                margin-right: 10px;
                padding-right: 5px;
                padding-left: 3px;
                margin-top: 5px;
                display: inline-block;
                border-radius: 7px;
                background-color: #f5f5f5;
            }

           #id_recipients_text {
               width: 95%;
               margin-bottom: 7px;
               margin-top: 3px;
            }

            .django-ckeditor-widget {
                width: 100%;
            }

            .form-horizontal .control-group {
                display: inline-block;
                margin-left: 0;
                margin-bottom: 5px;
            }
            .form-horizontal .control-label {
                width: 15px;
                margin-right: 7px;
            }

            .form-horizontal .controls {
                margin-left: 0;
            }


            .class-choice {
                color: #000000;
                font-weight: bold;
                display: inline;
            }

            .class-dropdown {
                vertical-align: top;
                font-weight: bold;
            }

            .collapse {
                margin-bottom: 6px;
            }

            .dropdown-label {
                border-radius: 15px;
                padding-bottom: 3px;
            }

            .dropdown-label:hover {
                border-width: 1px;
            }
    </style>
    {% endaddtoblock %}
    {% endblock %}
{% block js %}
        {% addtoblock 'js' %}
<!-- remove if you have these dependencies are already satisfied in your app -->
    {{ form.media }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var recipient =  $("#id_recipient").val();
        $("#id_recipient").val("")

        var parameters = {
            classes: {
                tokenList: "token-input-list",
                token: "token-input-token",
                tokenDelete: "token-input-delete-token",
                selectedToken: "token-input-selected-token",
                highlightedToken: "token-input-highlighted-token",
                dropdown: "token-input-dropdown",
                dropdownItem: "token-input-dropdown-item",
                dropdownItem2: "token-input-dropdown-item2",
                selectedDropdownItem: "token-input-selected-dropdown-item",
                inputToken: "token-input-input-token"
            },

            hintText: "{% trans "Type in a search term" %}",
            noResultsText: "{% trans "No results" %}",
            searchingText: "{% trans "Searching" %}...",
            queryParam: "term"
        };

        if(recipient){
            parameters["prePopulate"] = [{id:recipient, name:"{{ form.recipient.first_name }} {{ form.recipient.last_name }}"}]
        }

        $("#id_recipient").tokenInput("{% url 'tm:recipient_search' %}?format=json", parameters);
        
//        $('#message-modal-form').ajaxForm({
//            //target: "target",
//            beforeSubmit: function (){
//                $('#message-modal-form').addClass("ajax-form-disabled")
//            },
//            success: function(){
//                $('#message-modal-form').removeClass("ajax-form-disabled");
//                $('#message-modal-form').html("<div id='message'></div>");
//                $('#message-modal-form #message').html("<h2>{% trans "Message sent" %}!</h2>")
//                .append("<p></p>")
//                .hide()
//                .fadeIn(2500, function() {
//                    // hide facebox
//                    $(document).trigger('close.facebox');
//                });
//            },
//        });
        $("#id_recipient").focus()

    });
</script>
        {% endaddtoblock %}
        {% endblock %}