{% extends 'azul_cms_custom/cms_basic.html' %}
{% load i18n avatar_tags pagination_tags truncchar_tag uni_form_tags %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}

{%block title %}{{ thread.subject }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/token-input.css" type="text/css" />
<ul class="breadcrumb">
    <li><i class="icon-chevron-right" style="margin-top: 0;"></i></li><li>&nbsp;<a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'portal:dashboard_trainee' %}">Dashboard</a><span class="divider">/</span>
    </li>
    <li class="active"><a href="{% url 'tm:messages_inbox' %}">Inbox</a><span class="divider">/</span></li>
    <li class="active"><a href="{% url 'tm:messages_compose' %}">New Message</a></li>
</ul>
{% messages %}
<div>
    <div class="navWrapper">
               {% messaging_nav_nofilter %}
    </div>

    <div class="message">
        <form class="form-horizontal" id="compose" method="post" action="{% url 'tm:messages_compose' %}">
            <fieldset>
                {% csrf_token %}
                <div>
                    <div class="control-group span12">
                        <h4>Recipient(s)</h4>

                        <div class="controls searchbar span12">
                            <span class="control-label"><i class="icon-search"></i></span>
                            {{ form.recipient }}

                            {% if form.recipient.errors %}
                            {% for error in form.recipient.errors %}
                            <div class="alert alert-error">
                                {{ error | escape }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group span12">
                        <h4>Subject</h4>

                        <p>{{ form.subject }}</p>
                        {% if form.subject.errors %}
                        {% for error in form.subject.errors %}
                        <div class="alert alert-error">
                            {{ error | escape }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="control-group span12">
                    <h4>Message</h4>

                    <p>{{ form.body }}</p>
                    {% if form.body.errors %}
                    {% for error in form.body.errors %}
                    <div class="alert alert-error">
                        {{ error | escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="button-bar pull-right">
                <a class="btn btn-danger" href="{% url 'tm:messages_inbox' %}">{% trans "Cancel" %}</a>
                <button id="modal-send-button" class="btn btn-success" type="submit"
                        onclick="$('#message-modal-form').submit()">
                    {% trans "Send" %}
                </button>
            </div>
        </form>
    </div>

    {% endblock %}

    {% block css %}
    {% addtoblock 'css' %}
    <style>
        .searchbar {
            white-space: nowrap;
        }
        .results_on_deck div {
                margin-right: 10px;
                padding-right: 5px;
                padding-left: 3px;
                margin-top: 5px;
                display: inline-block;
                border-radius: 7px;
                background-color: #f5f5f5;
            }

           /*#id_recipients_text {*/
               /*width: 95%;*/
               /*margin-bottom: 7px;*/
               /*margin-top: 3px;*/
            /*}*/

            .django-ckeditor-widget {
                width: 100%;
            }

            .form-horizontal .control-group {
                display: inline-block;
                margin-left: 0;
                margin-bottom: 5px;
            }
            .form-horizontal .control-label {
                width: 15px;
                margin-right: 7px;
            }

            .form-horizontal .controls {
                margin-left: 0;
            }


            .class-choice {
                color: #000000;
                font-weight: bold;
                display: inline;
            }

            .class-dropdown {
                vertical-align: top;
                font-weight: bold;
            }

            .collapse {
                margin-bottom: 6px;
            }

            .dropdown-label {
                border-radius: 15px;
                padding-bottom: 3px;
            }

            .dropdown-label:hover {
                border-width: 1px;
            }
    </style>
    {% endaddtoblock %}
    {% endblock %}
{% block js %}
        {% addtoblock 'js' %}
<!-- remove if you have these dependencies are already satisfied in your app -->
    {{ form.media }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.ui-autocomplete-input, #id_subject').keypress(function(e){
            if ( e.which == 13 ) e.preventDefault();
        });

        /* Ensure that active search filter is passed to search page on search */
        $('#qs, #qs-mobile').attr('placeholder', "Search messages");
        $('.search-filter').on('click', function() {
            /*Because boostrap 2 requires one set of search inputs each for mobile and not-mobile (hidden and
            * visible, respectively, based on screen size), we needed to create two sets of ids, n and n-mobile.
            * The code below accounts for both; note the split and shift methods that ensure only the relevant portion
            * of the ID is shown to the user in the dynamic dropdown.
            * */

            var filterValue = $(this).attr('id').split("-").shift();
            $('#filter, #filter-mobile').val(filterValue);
            $('#qs, #qs-mobile').attr('placeholder', "Search " + filterValue);
            $('#search-filter-text, #search-filter-text-mobile').text(filterValue);
            console.log("filtervalue set to " + filterValue);
        });
    });
</script>
        {% endaddtoblock %}
        {% endblock %}