{% extends 'azul_cms_custom/cms_basic.html' %}
{% load i18n avatar_tags pagination_tags truncchar_tag %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}

{%block title %}{{title}}{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><i class="icon-chevron-right" style="margin-top: 0;"></i></li><li>&nbsp;<a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'portal:dashboard_trainee' %}">Dashboard</a><span class="divider">/</span>
    </li>
    <li class="active"><a href="{% url 'tm:messages_inbox' %}">Inbox</a></li>
</ul>
{% messages %}
<div>
    <div>
            {% messaging_nav_readfilter %}
    </div>  <div style="clear: both"></div>
</div>
<div class="message-table row-fluid">
    {% message_table %}
</div>
{% endblock %}


{% block js %}
{% addtoblock "js" %}

<script>
    $(document).ready(function () {
        /* Enable jQuery tooltips */
        $(function () {
            $(document).tooltip();
        });

        /* set appropriate active tab */
        $('#inbox-tab').addClass('active');

        /* Enable sorting headers */
        var readFilter;
        var sort_href;

        if ($('#message_table-table').data("read") == 1) {
            readFilter = "?only_read=1&";
        } else if ($('#message_table-table').data("unread") == 1) {
            readFilter = "?only_unread=1&";
        } else {
            readFilter = "?"
        }

        $('#sort-sent').on('click', function() {
            console.log("this data sort = " + $(this).data('sort'));
            if ($(this).data('sort') == 'sent_descending') {
                sort_href = "{% url 'tm:messages_inbox' %}" + readFilter + "sort_sent=1";
            } else {
                sort_href = "{% url 'tm:messages_inbox' %}" + readFilter
            }

            window.location = sort_href;
        });

        $('#sort-subject').on('click', function() {
            console.log("this data sort = " + $(this).data('sort'));
            if ($(this).data('sort') == 'subject_descending') {
                sort_href = "{% url 'tm:messages_inbox' %}" + readFilter + "sort_subject=1";
            } else {
                sort_href = "{% url 'tm:messages_inbox' %}" + readFilter + "sort_subject=2";
            }

            window.location = sort_href;
        });

        /* Enable batch update options (dropdown button) only when at least one checkbox has been checked*/
        var anyChecked = false;
        var checkboxes = $("input[name='batchupdateids']"),
                submitButt = $(".bulkaction");

        checkboxes.on('ifChecked', function () {
            submitButt.attr("disabled", false);
        });

        checkboxes.on('ifUnchecked', function () {
            anyChecked = checkboxes.closest('div.icheck-item').hasClass('checked');
            if (!anyChecked) {
                submitButt.attr("disabled", true);
            }
        });

        /* On click of batch action dropdown option (archive, mark as read) click corresponding hidden submit button.
        * Convention for dropdown & button IDs is (respectively): delete-li, delete-btn. */
        var liId;
        var btnId;
        $('.message-table').on('click', '.batch-action', function() {
            liId = $(this).attr('id');
            btnId  = '#' + liId.split('-')[0] + '-btn';
            $(btnId).click();
        });

        /* On click of a clickable row, locate corresponding message URL and redirect accordingly.  */
        $('.message-table').on('click', '.clickablerow', function(){
            var href = $(this).parent().data("url");
            if(typeof href != 'undefined') {
                window.location = href;
            }
        });

        /* Ensure that active search filter is passed to search page on search */
        $('#qs, #qs-mobile').attr('placeholder', "Search messages");
        $('.search-filter').on('click', function() {
            /*Because boostrap 2 requires one set of search inputs each for mobile and not-mobile (hidden and
            * visible, respectively, based on screen size), we needed to create two sets of ids, n and n-mobile.
            * The code below accounts for both; note the split and shift methods that ensure only the relevant portion
            * of the ID is shown to the user in the dynamic dropdown.
            * */

            var filterValue = $(this).attr('id').split("-").shift();
            $('#filter, #filter-mobile').val(filterValue);
            $('#qs, #qs-mobile').attr('placeholder', "Search " + filterValue);
            $('#search-filter-text, #search-filter-text-mobile').text(filterValue);
            console.log("filtervalue set to " + filterValue);
        });

    });


</script>
{% endaddtoblock %}
{% endblock %}

{% block css %}
{% addtoblock "css" %}
<style>
    h5 a {
        color: #000000;
    }

    th h5 {
        margin-top: 5px;
    }


    .nav-buttons {
       margin-top: 15px;
    }

    .navWrapper {
        height: 60px;
    }

    input, button {
        max-width:100%;
    }
    .clickableRow:hover {
        cursor: pointer;
        cursor: hand;
    }

    .clickableRow > a, .thisclickableRow >a {
        color: inherit;
        text-decoration: inherit;
    }

    .participant {
        color: #309900;
    }
    .unclickable:hover {
          cursor: default;
    }

</style>

{% endaddtoblock %}
{% endblock %}