{% load i18n avatar_tags pagination_tags truncchar_tag %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}

<div class="message well">
        <div class="message-sender"><h4><a href="{{ message.sender.get_absolute_url }}">{{ message.sender }}</a>&nbsp; &nbsp;</h4>
        <span class="date"><em>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</em></span></div>
        <div class="message-body">{{ message.body|safe }}</div>
    <span class="extra-info">
        {% ifnotequal message.sender request.user %}
        {% endifnotequal %}
    </span>
</div>


