{% extends 'azul_cms_custom/cms_basic.html' %}
{% load i18n avatar_tags pagination_tags truncchar_tag uni_form_tags %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}

{%block title %}{{ thread.subject }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/token-input.css" type="text/css" />
<ul class="breadcrumb">
    <li><i class="icon-chevron-right" style="margin-top: 0;"></i>
    <li>
        <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'portal:dashboard_trainee' %}">Dashboard</a><span class="divider">/</span>
    </li>
    <li class="active"><a href="{% url 'tm:messages_inbox' %}">Inbox</a><span class="divider">/</span></li>
    <li class="active"><a href="{% url 'tm:messages_compose' %}">Compose</a></li>
</ul>
{% messages %}
<div class="page-header">

    <div class="pull-right">
        <a href="{% url 'tm:modal_messages_compose' %}" class="btn btn-success">
            <i class="icon-plus-sign icon-white"></i> Send new message
        </a>
    </div>

    <div class="row">
        <div class="span3">
            <h3>{% trans "View Thread"|upper %}</h3>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
               {% messaging_well_search %}
    </div>

    <div class="span9">
        <form id="message-modal-form"
              action="{% url 'tm:messages_compose' %}" method="post"
              class="modal-message-form grey-form">
            {% csrf_token %}
            <fieldset class="inlineLabels">
                <input type="hidden" name="attachment_id" id="attachment_id" />
                {{ form|as_uni_form }}
            </fieldset>
            <div class="button-bar">
                <a class="btn btn-danger" href="{% url 'tm:messages_inbox' %}">{% trans "Cancel" %}</a>
                <button id="modal-send-button" class="btn btn-success" type="submit" onclick="$('#message-modal-form').submit()">
                    {% trans "Send" %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
        {% addtoblock 'js' %}
<!-- remove if you have these dependencies are already satisfied in your app -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tokeninput.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var recipient =  $("#id_recipient").val();
        $("#id_recipient").val("")

        var parameters = {
            classes: {
                tokenList: "token-input-list",
                token: "token-input-token",
                tokenDelete: "token-input-delete-token",
                selectedToken: "token-input-selected-token",
                highlightedToken: "token-input-highlighted-token",
                dropdown: "token-input-dropdown",
                dropdownItem: "token-input-dropdown-item",
                dropdownItem2: "token-input-dropdown-item2",
                selectedDropdownItem: "token-input-selected-dropdown-item",
                inputToken: "token-input-input-token"
            },

            hintText: "{% trans "Type in a search term" %}",
            noResultsText: "{% trans "No results" %}",
            searchingText: "{% trans "Searching" %}...",
            queryParam: "term",
        };

        if(recipient){
            parameters["prePopulate"] = [{id:recipient, name:"{{ form.recipient.first_name }} {{ form.recipient.last_name }}"}]
        }

        $("#id_recipient").tokenInput("{% url 'tm:recipient_search' %}?format=json", parameters);
        
//        $('#message-modal-form').ajaxForm({
//            //target: "target",
//            beforeSubmit: function (){
//                $('#message-modal-form').addClass("ajax-form-disabled")
//            },
//            success: function(){
//                $('#message-modal-form').removeClass("ajax-form-disabled");
//                $('#message-modal-form').html("<div id='message'></div>");
//                $('#message-modal-form #message').html("<h2>{% trans "Message sent" %}!</h2>")
//                .append("<p></p>")
//                .hide()
//                .fadeIn(2500, function() {
//                    // hide facebox
//                    $(document).trigger('close.facebox');
//                });
//            },
//        });
        $("#id_recipient").focus()

    });
</script>
        {% endaddtoblock %}
        {% endblock %}