{% extends 'azul_cms_custom/cms_basic.html' %}
{% load i18n avatar_tags pagination_tags truncchar_tag %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}

{%block title %}{{title}}{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><i class="icon-chevron-right" style="margin-top: 0;"></i>
    <li>
        <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'portal:dashboard_trainee' %}">Dashboard</a><span class="divider">/</span>
    </li>
    <li class="active"><a href="{% url 'tm:messages_inbox' %}">Inbox</a><span class="divider">/</span></li>
    <li class="active"><a href="{% url 'tm:messages_search' %}">Search</a></li>
</ul>
{% messages %}
<div class="page-header">

    <div class="pull-right">

        <a href="{% url 'tm:messages_compose' %}" class="btn btn-success">
            <i class="icon-plus-sign icon-white"></i> New message
        </a>

    </div>

    <div class="row">
        <div class="span3">
            <h3>{% trans "Search"|upper %}</h3>
        </div>
    </div>

</div>
<div class="row-fluid">
    <div class="span3">
               {% messaging_well %}
    </div>

    <div class="span9">
    <!--{_% autopaginate thread_results 10 %}-->
        <div class="page-header-wrapper span12">
            <form action="{% url 'tm:messages_search' %}" method="GET" style="float: left">
         <span class="btn-group" data-toggle="buttons-radio" id="search_chooser_btn_group" style="margin-bottom: 10px;">
            <input type="button" class-toggle="active" class="option btn" name="search" id="filter_all" value="all"
                    style="padding-left: 7px; padding-right: 7px;">all</input>
             <input type="button" class-toggle="active" class="option btn" name="search" id="filter_inbox" value="inbox"
                    style="padding-left: 7px; padding-right: 7px;">inbox</input>
            <input type="button" class-toggle="active" class="option btn" name="search" id="filter_sent" value="sent"
                    style="padding-left: 7px; padding-right: 7px;">sent</input>
            <input type="button" class-toggle="active" class="option btn" name="search" id="filter_archives" value="archives"
                    style="padding-left: 7px; padding-right: 7px;">archive</input>
        </span>


                <span>
                    &nbsp;
                    <input name="qs" class="search-input" type="text" {% if not search_term %}title="{% trans 'Search Messages' %}"{% endif %}
                           value="{{ search_term }}" />
                    <button type="submit" class="btn btn-success search-submit">Search</button>
                    <label class="hidden" for="filter">Hidden filter input</label><input type="text" class="hidden" id="filter" name="search" value="{{ search_filter }}" />
                </span>
             </form>
        </div>
        <div><h3>{% trans "Searching for" %}: {{ search_term }}</h3>
            <!--<div style="float: right">
                  <button type="submit" name="action" value="read" class="btn btn-small">{% trans "mark as read" %}</button>
                  <button type="submit" name="action" value="delete" class="btn btn-small">{% trans "archive messages" %}</button>
              </div>-->
        </div>
        {% csrf_token %}

        <table class="inbox table table-striped table-hover message-table">
            <thead>
                <tr class="message message-header">
                    <th class="sender span5"><h5>{% trans "Sender" %}</h5></th>
                    <th class="subject span6"><h5>{% trans "Subject" %}</h5></th>
                    <!--<th class="subject span1"></th>-->
                </tr>
            </thead>
            <tbody>
            {% for thread in thread_results %}
                {% with thread.object as thread %}
              <tr class="{% if thread.participants.new %}info{% endif %}" data-url="{{ thread.get_absolute_url }}">
                  <td class="clickablerow sender span5">
                       {% for p in thread.participants.all %}
                          {% if forloop.counter < 3 %}
                          <span class="participant" title="{{ p.user.full_name }}">{{ p.user.first_name }}</span>{% if forloop.last %}&nbsp;{% else %}, {% endif %}
                          {% elif forloop.last %}
                          <span class="participant" title="{{ p.user.full_name }}">{{ p.user.first_name }}</span>
                              {% if forloop.counter != 3 %}
                              <span class="participant others"> + {{ forloop.counter|add:"-3" }} others</span>
                              {% endif %}
                          {% endif %}
                      {% endfor %}
                    <span class="date"><em>{{ thread.latest_msg.sent_at|date:_("DATETIME_FORMAT") }}</em></span>
                  </td>
                  <td class="clickablerow subject span6">
                    <a href="{{ thread.get_absolute_url }}">{% if thread.participants.new %}<b>{% endif %}
                        {{ thread.subject|truncchar:30|clean_with_bleach }}{% if thread.participants.new %}</b>{% endif %}</a>
                    <span class="message-tease">{{thread.latest_msg.body|truncatewords:8|clean_with_bleach}}</span>
                    <span class="pull-right label">{{ thread.all_msgs.count }}</span>
                  </td>

                  {% if header == "Sender" %} <td class="clickablerow checkbox span1">
                    <input name="batchupdateids" type="checkbox" value="{{thread.pk}}" />
                  </td> {% endif %}
                  {% if thread.participants.replied %}{% endif %}
                  {% if thread.participants.new %}{% endif %}
              </tr>
            {% endwith %}

                {% empty %}
                <tr class="message unread">
                    <td class="no-message"><em>{% trans "No messages found." %}{% if search_term|length < 2 %}<br />Please choose a search term over 1 character long.{% endif %}</em></td><td></em></td><td></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </form>
 <div class="messages-footer">
        <div class="pagination">
            <ul>
                {% if thread_results.has_previous %}
                <li><a href="?search={{ search_filter }}&qs={{ search_term }}&page={{ thread_results.previous_page_number }}"><i class="icon-chevron-left"></i></a>
                </li>
                {% else %}
                <li class="disabled"><a href="#"><i class="icon-chevron-left"></i></a></li>
                {% endif %}
                {% for p in thread_results.paginator.num_pages|get_range_plus_one%}
                <li class="{% if p == thread_results.number %}active{% endif %}"><a href="?search={{ search_filter }}&qs={{ search_term }}&page={{ p }}">{{ p }}</a>
                </li>
                {% endfor %}
                {% if thread_results.has_next %}
                <li><a href="?search={{ search_filter }}?qs={{ search_term }}??page={{ thread_results.next_page_number }}"><i class="icon-chevron-right"></i></a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="icon-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
</div>

{% endblock %}

{% block js %}
{% addtoblock "js" %}
<script>
    $(document).ready(function () {
        existingSearchFilter = $('#filter').val();
        console.log("existingSearchFilter: ", existingSearchFilter);
        $('#filter_' + existingSearchFilter).addClass('active');

        $('.option').on('click', function() {
            filterValue = $(this).val();
            $('#filter').val(filterValue);
            console.log("filter set to ", filterValue)
        });
        watchButtonsRadio('#search_chooser_btn_group', '#search_chooser');

        $('.message-table').on('click', '.clickablerow', function(){
            console.log("Clickable row activated");
            console.log("this: ", this);
            var href = $(this).parent().data("url");
            console.log("href= " + href);
            if(typeof href != 'undefined') {
                window.location = href;
            }else{
                window.location = $(this).siblings().find('a').attr('href');
            }
        });

        $('#bulkDelete').click(function () {

            if (window.confirm("Do you want to delete these messages?")) {
                var selectedCheckBoxes = $('input[name="pks"]:checked').serializeArray();

                $.post('/messaging/delete/', selectedCheckBoxes
                ).success(function () {
                            for (var i = 0; i < selectedCheckBoxes.length; i++) {
                                var item = "#message-" + $.trim(selectedCheckBoxes[i].value);
                                $(item).remove();
                            }
                        }).fail(function () {
                            alert("There was a problem")
                        })
            }
        });

        $('#bulkArchive').click(function () {
            var selectedCheckBoxes = $('input[name="pks"]:checked').serializeArray();
            $.post('/messaging/archive/',
                    selectedCheckBoxes
            ).success(function () {
                        for (var i = 0; i < selectedCheckBoxes.length; i++) {
                            var item = "#message-" + $.trim(selectedCheckBoxes[i].value);
                            $(item).remove();
                        }
                    }).fail(function () {
                        alert("There was a problem")
                    });
        });

        //$("body").highlight("{{ search_term }}", { element: 'span', className: 'highlighted'});

    });


</script>
{% endaddtoblock %}
{% endblock %}


        {% block css %}
{% addtoblock "css" %}
<style>
    input, button {
        max-width:100%;
    }
    .clickableRow:hover {
        cursor: pointer;
        cursor: hand;
    }

    .clickableRow > a, .thisclickableRow >a {
        color: inherit;
        text-decoration: inherit;
    }

    .search-submit {
        margin-bottom: 10px;
    }

    .participant {
        color: #309900;
    }
</style>

{% endaddtoblock %}
{% endblock %}