{% extends 'azul_cms_custom/cms_basic.html' %}
{% load i18n avatar_tags pagination_tags truncchar_tag %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}

{%block title %}{{title}}{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><i class="icon-chevron-right" style="margin-top: 0;"></i>
    <li>
        <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'portal:dashboard_trainee' %}">Dashboard</a><span class="divider">/</span>
    </li>
    <li class="active"><a href="{% url 'tm:messages_trash' %}">Archive</a></li>
</ul>
{% messages %}
<div class="page-header">

    <div class="pull-right">

        <a href="{% url 'tm:messages_compose' %}" class="btn btn-success">
            <i class="icon-plus-sign icon-white"></i> New message
        </a>

    </div>

    <div class="row">
        <div class="span3">
            <h3>{% trans "Archive"|upper %}</h3>
        </div>
    </div>

</div>
<div class="row-fluid">
    <div class="span3">
               {% messaging_well_search %}
    </div>

    <div class="span9">
         <form action="{% url 'tm:messages_batch_update' %}" method="post">
        {% csrf_token %}
           <div class="inbox-action-box">
              <div style="float: left; margin-top: 7px;">
                  <button type="submit" disabled=true name="action" value="undelete" class="bulkaction btn btn-small btn-warning"><i class="icon icon-inbox icon-white"></i>&nbsp;{% trans "Unarchive" %}</button>
              </div>
        </div>

        <div style="clear: both;"></div>
        <table class="inbox table table-striped table-hover">
            <thead>
                <tr class="message message-header">
                    <th class="subject span1"></th>
                    <th class="sender span5"><h5>{% trans "Participants" %}</h5></th>
                    <th class="subject span6"><h5>{% trans "Subject" %}</h5></th>
                </tr>
            </thead>
            <tbody>
            {% for message in message_list %}
              <tr class="{% if message.new %}success{% endif %}">
                  <td class="checkbox span1">
                    <input name="batchupdateids" type="checkbox" value="{{message.thread.pk}}" />
                  </td>
                  <td class="clickablerow sender span5">
                         {% if message.others|length < 1 %}
                          <span class="participant" title="{{ message.thread.creator.full_name }}">{{ message.thread.creator.first_name }}</span>
                          {% endif %}
                          {% for p in message.others %}
                              {% if forloop.counter < 3 %}
                              <span class="participant" title="{{ p.user.full_name }}">{{ p.user.first_name }}</span>{% if forloop.last %}&nbsp;{% else %}, {% endif %}
                              {% elif forloop.last %}
                              <span class="participant" title="{{ p.user.full_name }}">{{ p.user.first_name }}</span>
                                  {% if forloop.counter != 3 %}
                                  <span class="participant others">+ {{ forloop.counter|add:"-3" }} others</span>
                                  {% endif %}
                              {% endif %}
                          {% endfor %}
                    <span class="date"><em>{{ message.thread.latest_msg.sent_at|date:_("DATETIME_FORMAT") }}</em></span>
                  </td>
                  <td class="clickablerow subject span6">
                    <a href="{{ message.thread.get_absolute_url }}">{% if message.new %}<b>{% endif %}{{ message.thread.subject|truncchar:30|safe }}{% if message.new %}</b>{% endif %}</a>
                    <span class="message-tease">{{ message.thread.latest_msg.body|truncatewords:8|clean_with_bleach|safe }}</span>
                    <span class="pull-right label">{{ message.thread.all_msgs.count }}</span>
                  </td>
                  {% if message.replied %}{% endif %}
                  {% if message.new %}{% endif %}
              </tr>
            {% empty %}
                <tr class="message unread">
                    <td class="no-message"><em>{% trans "No messages found" %}</em></td><td></td><td></td>
                </tr>
            {% endfor %}
            </tbody>
</table>
    </form>
    <div class="messages-footer">
        <div class="pagination">
            <ul>
                {% if message_list.has_previous %}
                <li><a href="?page={{ message_list.previous_page_number }}"><i class="icon-chevron-left"></i></a>
                </li>
                {% else %}
                <li class="disabled"><a href="#"><i class="icon-chevron-left"></i></a></li>
                {% endif %}
                {% for p in message_list.paginator.num_pages|get_range_plus_one %}
                <li class="{% if p == message_list.number %}active{% endif %}"><a href="?page={{ p }}">{{ p }}</a>
                </li>
                {% endfor %}
                {% if message_list.has_next %}
                <li><a href="?page={{ message_list.next_page_number }}"><i class="icon-chevron-right"></i></a></li>
                {% else %}
                <li class="disabled"><a href="#"><i class="icon-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    </div></div>
{% endblock %}


{% block js %}
{% addtoblock "js" %}
<script>
    $(document).ready(function () {
        var anyChecked = false;
        var checkboxes = $("input[name='batchupdateids']"),
                submitButt = $(".bulkaction");

        checkboxes.on('ifChecked', function () {
            submitButt.attr("disabled", false);
        });

        checkboxes.on('ifUnchecked', function () {
            anyChecked = checkboxes.closest('div.icheck-item').hasClass('checked');
            if (!anyChecked) {
                submitButt.attr("disabled", true);
            }
        });

        $(function () {
            $(document).tooltip();
        });

         $('.option').on('click', function() {
            filterValue = $(this).val();
            $('#filter').val(filterValue);
            console.log("filter set to ", filterValue)
        });

        watchButtonsRadio('#search_chooser_btn_group', '#search_chooser');

        $('.message-table').on('click', '.clickablerow', function(){
            console.log("Clickable row activated");
            console.log("this: ", this);
            var href = $(this).parent().data("url");
            console.log("href= " + href);
            if(typeof href != 'undefined') {
                window.location = href;
            }else{
                window.location = $(this).siblings().find('a').attr('href');
            }
        });

    });


</script>
{% endaddtoblock %}
{% endblock %}

{% block css %}
{% addtoblock "css" %}
<style>
    input, button {
        max-width:100%;
    }
    .clickableRow:hover {
        cursor: pointer;
        cursor: hand;
    }

    .clickableRow > a, .thisclickableRow >a {
        color: inherit;
        text-decoration: inherit;
    }

    .participant {
        color: #309900;
    }
</style>

{% endaddtoblock %}
{% endblock %}