{% extends "django_messages/base.html" %}
{% load i18n %} 
{% block body %} 
<h1>{% trans "Archived Messages" %}</h1>
<table class="messages">
    <thead>
        <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Date" %}</th><th>{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% for message in message_list %}
    <tr>
        <td><a href="{{ message.thread.latest_msg.sender.get_absolute_url }}">{{ message.thread.latest_msg.sender }}</a></td>
        <td> 
        {{ message.thread.subject }}
        </td>
        <td>{{ message.thread.latest_msg.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url 'tm:messages_undelete' message.thread.id %}">{% trans "unarchive" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br />
{% endblock %}