{% extends 'azul_cms_custom/cms_basic.html' %}
{% load i18n avatar_tags pagination_tags truncchar_tag %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}

{%block title %}{{title}}{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><i class="icon-chevron-right" style="margin-top: 0;"></i>
    <li>
        <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'portal:dashboard_trainee' %}">Dashboard</a><span class="divider">/</span>
    </li>
    <li class="active"><a href="{% url 'tm:messages_trash' %}">Archive</a></li>
</ul>
{% messages %}
<div class="row-fluid">
    <div class="navWrapper">
        {% messaging_nav_readfilter %}
    </div>

    <div class="message-table">
         {% message_table %}
    </div>
{% endblock %}


{% block js %}
{% addtoblock "js" %}
<script>
    $(document).ready(function () {
        /* Make current nav tab active */
        $('#archive-tab').addClass('active');

        /* Enable batch update options (dropdown button) only when at least one checkbox has been checked*/
        var anyChecked = false;
        var checkboxes = $("input[name='batchupdateids']"),
                submitButt = $(".bulkaction");

        checkboxes.on('ifChecked', function () {
            submitButt.attr("disabled", false);
        });

        checkboxes.on('ifUnchecked', function () {
            anyChecked = checkboxes.closest('div.icheck-item').hasClass('checked');
            if (!anyChecked) {
                submitButt.attr("disabled", true);
            }
        });

        /* Enable jQuery tooltips */
        $(function () {
            $(document).tooltip();
        });

        /* What was this code doing? TODO: Ask Peter */
        //watchButtonsRadio('#search_chooser_btn_group', '#search_chooser');


        /* On click of batch action dropdown option (archive, mark as read) click corresponding hidden submit button.
        * Convention for dropdown & button IDs is (respectively): delete-li, delete-btn. */
        var liId;
        var btnId;
        $('.message-table').on('click', '.batch-action', function() {
            liId = $(this).attr('id');
            btnId  = '#' + liId.split('-')[0] + '-btn';
            $(btnId).click();
        });

        /* On click of a clickable row, locate corresponding message URL and */
        $('.message-table').on('click', '.clickablerow', function(){
            console.log("Clickable row activated");
            console.log("this: ", this);
            var href = $(this).parent().data("url");
            if(typeof href != 'undefined') {
                window.location = href;
            }
        });

        /* Ensure that active search filter is passed to search page on search */
        $('#qs').attr('placeholder', "Search messages");
        $('.search-filter').on('click', function() {
            filterValue = $(this).attr('id');
            $('#filter').val(filterValue);
            $('#qs').attr('placeholder', "Search " + filterValue);
            console.log("filtervalue set to " + filterValue);
        });
    });


</script>
{% endaddtoblock %}
{% endblock %}

{% block css %}
{% addtoblock "css" %}
<style>
    .navWrapper {
        height: 60px;
    }

    input, button {
        max-width:100%;
    }
    .clickableRow:hover {
        cursor: pointer;
        cursor: hand;
    }

    .clickableRow > a, .thisclickableRow >a {
        color: inherit;
        text-decoration: inherit;
    }

    .participant {
        color: #309900;
    }

    .unclickable:hover {
          cursor: default;
    }
</style>

{% endaddtoblock %}
{% endblock %}