{% extends 'azul_cms_custom/cms_basic.html' %}
{% load i18n avatar_tags pagination_tags truncchar_tag %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}

{%block title %}{{ thread.subject }}{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><i class="icon-chevron-right" style="margin-top: 0;"></i>
    <li>
        <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'portal:dashboard_trainee' %}">Dashboard</a><span class="divider">/</span>
    </li>
    <li class="active"><a href="{% url 'tm:messages_inbox' %}">Inbox</a><span class="divider">/</span></li>
    <li class="active"><a href="{% url 'tm:messages_search' %}">Search</a></li>
</ul>
{% messages %}
<div class="page-header">

    <div class="pull-right">

        <a href="{% url 'tm:modal_messages_compose' %}" class="btn btn-success">
            <i class="icon-plus-sign icon-white"></i> Send new message
        </a>

    </div>


    <div class="row">
        <div class="span3">
            <h3>{% trans "View Thread"|upper %}</h3>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
               {% messaging_well_search %}
    </div>

    <div class="span9">
   <h2>
        {{ thread.subject }}</h2>

        {% if participant.deleted_at %}
        <a href="{% url 'tm:messages_undelete' thread.pk %}" class="btn btn-warning pull-right">
            <i class="icon icon-inbox icon-white"></i>&nbsp;{% trans "Unarchive thread" %}  </a><br />
        {% else %}
        <a href="{% url 'tm:messages_delete' thread.pk %}" class="btn btn-warning pull-right">
            <i class="icon-folder-close icon-white"></i>&nbsp;{% trans "Archive thread" %}  </a><br />
        {% endif %}
        <a href="#reply" class="btn btn-success pull-right">
           <i class="icon-arrow-left icon-white"></i>&nbsp;{% trans "Reply to thread" %}
        </a><br />
     <div>
        {% blocktrans with participant.user.get_absolute_url as sender_url %}
        A message between <a href="{{ sender_url }}">You</a> and
        {% endblocktrans %}
         {% for participant in participant.others %}
            <a href="{{ participant.user.get_absolute_url }}">{{ participant.user }}</a>
         {% endfor %}
     </div>
     <hr />


    <div class="message-thread">
      <div class="message-list">
        {% for message_tuple in message_list %}
          {% with message_tuple.0 as message %}
            {% include "django_messages/message_list_view.html" %}
          {% endwith %}
        {% endfor %}
      </div>
        <a name="reply"></a>
      <div class="messageReplyForm message-form">
        <form method="POST" class="reply-form" action="{% url 'tm:messages_detail' thread.pk %}">
          {% csrf_token %}
          <h3>{% trans "Reply" %}</h3>
            <div>{{form.body}}</div>
            {% for e in form.body.errors %}
            <div class="alert alert-error">{{ e }}</div>
            {% endfor %}
          <button type="submit" class="btn btn-success pull-right">{% trans "Reply" %}</button>
        </form>
      </div>
      <a href="{% url 'tm:messages_inbox' %}" class="back">
        &lt; {% trans "back to inbox" %}
      </a>
    </div>
</div>
{% endblock %}

{% block js %}
{% addtoblock "js" %}
    {{ form.media }}
    <script>
        $.ajax({
            url: $('.reply-form').attr("action"),
            type: 'POST',
            data: $('.reply-form').serialize(),
            beforeSend: function() {
                $('.reply-form').addClass("ajax-form-disabled")
            };
            success: function(e) {
                $('.reply-form').removeClass("ajax-form-disabled")
                CKEDITOR.instances['reply-body'].setData('');
                $('.message-list').append(e);
            }
        });

     </script>
{% endaddtoblock %}
{% endblock %}


    {% block css %}
    {% addtoblock "css" %}
    <style>
        h2, h4 {
            display: inline;
        }

        .message-sender {
            margin-bottom: 7px;
        }

        .django-ckeditor-widget {
            width: 100%;
        }

        .alert {
            list-style-type: none;
        }
    </style>
    {% endaddtoblock %}
    {% endblock %}