{% extends 'azul_cms_custom/cms_basic.html' %}
{% load i18n avatar_tags pagination_tags truncchar_tag %}
{% load cms_tags sekizai_tags shared_azul shared_verde threaded_azul %}

{%block title %}{{ thread.subject }}{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><i class="icon-chevron-right" style="margin-top: 0;"></i>
    <li>
        <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'portal:dashboard_trainee' %}">Dashboard</a><span class="divider">/</span>
    </li>
    <li class="active"><a href="{% url 'tm:messages_inbox' %}">Inbox</a><span class="divider">/</span></li>
    <li class="active"><a href="{% url 'tm:messages_search' %}">View Thread</a></li>
</ul>
{% messages %}
<div>
    <div class="navWrapper">
        {% messaging_nav_nofilter %}
        <div class="threadactions pull-left">
            {% if participant.deleted_at %}
            <a href="{% url 'tm:messages_undelete' thread.pk %}"><button class="btn btn-default">
                <i class="icon icon-inbox"></i>&nbsp;{% trans "Unarchive thread" %}</button></a>
            {% else %}
            <a href="{% url 'tm:messages_delete' thread.pk %}"><button class="btn btn-default">
                <i class="icon-folder-close"></i>&nbsp;{% trans "Archive thread" %}</button></a>
            {% endif %}
            &nbsp;<a href="#reply"><button class="btn btn-default">
               <i class="icon-arrow-left"></i>&nbsp;{% trans "Reply to thread" %}</button></a>
        </div>
    </div><div style="clear: both"></div>

    <div class="message" style="margin-top: 10px;">
        <div class="thread-info">
           <table width="100%">
               <tr><td width="110" style="vertical-align: text-top"><h3 class="muted">Subject&nbsp;&nbsp;</h3></td>
               <td><h3>{{ thread.subject }}</h3></td></tr>
               <tr><td width="110"><h4 class="muted">Participants&nbsp;&nbsp;</h4></td>
               <td><h4>
                   <!-- Line breaks in this div are commented out to avoid being rendered as whitespace -->
            {% blocktrans with participant.user.get_absolute_url as sender_url %}
            <a href="#">You</a>{% endblocktrans %}<!--
            -->{% for participant in participant.others %}<!--
               -->{% if forloop.last %} and <a href="#">{{ participant.user.first_name }} {{ participant.user.last_name }}</a><!--
               -->{% else %}<span>, <a href="#">{{ participant.user.first_name }} {{ participant.user.last_name }}</a></span><!--
            -->{% endif %}{% endfor %}
               </h4></td></tr>
           </table>
         </div>
    <div class="message-thread">
      <div class="message-list">
        {% for message_tuple in message_list %}
          {% with message_tuple.0 as message %}
            {% include "django_messages/message_list_view.html" %}
          {% endwith %}
        {% endfor %}
      </div>
        <a name="reply"></a>
      <div class="messageReplyForm message-form">
        <form method="POST" class="reply-form" action="{% url 'tm:messages_detail' thread.pk %}">
          {% csrf_token %}
          <h3>{% trans "Reply" %}</h3>
            <div>{{form.body}}</div>
            {% for e in form.body.errors %}
            <div class="alert alert-error">{{ e }}</div>
            {% endfor %}
            <a href="{% url 'tm:messages_inbox' %}" class="back btn btn-default">
            <i class="icon-chevron-left"></i>&nbsp;{% trans "Back to inbox" %}</a>
          <button type="submit" class="btn btn-success pull-right">{% trans "Reply" %}</button>
        </form>
      </div>
    </div>
</div>
    </div>
{% endblock %}

{% block js %}
{% addtoblock "js" %}

    {{ form.media }}
    <script>
        /* Ensure that active search filter is passed to search page on search */
        $('#qs, #qs-mobile').attr('placeholder', "Search messages");
        $('.search-filter').on('click', function() {
            /*Because boostrap 2 requires one set of search inputs each for mobile and not-mobile (hidden and
            * visible, respectively, based on screen size), we needed to create two sets of ids, n and n-mobile.
            * The code below accounts for both; note the split and shift methods that ensure only the relevant portion
            * of the ID is shown to the user in the dynamic dropdown.
            * */

            var filterValue = $(this).attr('id').split("-").shift();
            $('#filter, #filter-mobile').val(filterValue);
            $('#qs, #qs-mobile').attr('placeholder', "Search " + filterValue);
            $('#search-filter-text, #search-filter-text-mobile').text(filterValue);
            console.log("filtervalue set to " + filterValue);
        });
    </script>
{% endaddtoblock %}
{% endblock %}


    {% block css %}
    {% addtoblock "css" %}
    <style>
        h2, h4 {
            display: inline;
        }

        .message-sender {
            margin-bottom: 7px;
        }

        .django-ckeditor-widget {
            width: 100%;
        }

        .alert {
            list-style-type: none;
        }

        .thread-info {
            color: #000000;
        }

        .navWrapper {
            height: 60px;
        }

        .thread-info {
            margin-bottom: 20px;
        }

    </style>
    {% endaddtoblock %}
    {% endblock %}